@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>
Owner and CEO Aakesh Sharma has put blood sweat and tears into his work becoming a real estate agent and opening his own real estate company.</p>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Aakesh Sharma</h2>
                <p class="title">CEO & Founder</p>
                <p>I love selling houses so much, I'd sell you mine!</p>
                <p>AakeshSharma@Sharmaesthetics.com</p>
                <img src=https://media.discordapp.net/attachments/1009304090020417666/1083193576340594809/20230307_160729.jpg?width alt="Aakesh" width="200" height="400">
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Joash Nair</h2>
                <p class="title">Real Estate Agent</p>
                <p>Joash has been in the business for 10 years! He loves working with kids and finding the perfect house for them!</p>
                <p>JoashNair@Sharmaesthetics.com</p>
                <img src="https://cdn.discordapp.com/attachments/1009304090020417666/1083195290196123769/IMG_20230309_141112_534.jpg" alt="Joash" width="200" height="400">
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Mohit Negi</h2>
                <p class="title">Real Estate Agent</p>
                <p>Mohit is an elite real estate agent, being able to find you your dream home in a heartbeat!</p>
                <p>MohitNegi@Sharmaesthetics.com</p>
                <img src=https://cdn.discordapp.com/attachments/1009304090020417666/1083195447704821811/Screenshot_20230309_141150.jpg alt="Mohit" style="width:100%">
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>
