@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>
Owner and CEO Aakesh Sharma has put blood sweat and tears into his work becoming a real estate agent and opening his own real estate company.</p>
