@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<p>Please leave a message with any queries you may have!.</p>

<div class="container">
    <form action="action_page.php">

        <label for="fname">Full Name</label>
        <input type="text" id="fname" name="fullname" placeholder="Your name..">

        <label for="Email">Email</label>
        <input type="text" id="Email" name="EmailAd" placeholder="Your Email..">

        <label for="country">Country</label>
        <select id="country" name="country">
            <option value="New Zealand">New Zealand</option>
            <option value="Australia">Australia</option>
            <option value="Fiji">Fiji</option>
        </select>

        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

        <input type="submit" value="Submit">

    </form>

    <p2>You will be messaging our friendly faces directly! Not somebody in a different country!</p2>
    <img src=https://cdn.discordapp.com/attachments/1009304090020417666/1083476465804382300/IMG_20230310_084820_991.jpg alt="Family" width="300" height="200" />
</div> 