@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to Sharmaesthetics, we're our only goal is getting you the best deal!!</p>
    <p2>We offer premium houses at affordable prices and have a passion in doing so!</p2>
</div>
