@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to Sharmaesthetics, where our only goal is getting you the best deal!!</p>
    <p>We offer premium houses at affordable prices and have a passion in doing so!</p>

    <img src=https://robbreport.com/wp-content/uploads/2023/02/1-50.jpg?w=1000 alt="Mansion" width="500" height="400">
</div>
